body {
    font-family: 'Inter', sans-serif;
    background: #f5f7fb;
    margin: 0;
}

/* MENU */
.menu {
    background: #0066cc;
    padding: 15px;
    text-align: center;
}

.logo {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

/* PERFIL */
.perfil {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.foto {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.descricao {
    margin-top: 10px;
    color: #555;
}

/* BOTÃO */
.btn {
    display: inline-block;
    margin-top: 20px;
    background: #0066cc;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
}